.banner-ads{
    width: 1110px;
    margin: 40px auto 0;
    display: flex;
}

.banner-ads__item{
    flex: 1;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    &:hover .banner-ads__thumb{
        transform: scale(1.1);
    }
}

.banner-ads__item:not(:first-child){
    margin-left: 30px;
}

.banner-ads__thumb{
    width: 100%;
    border-radius: 4px;
    transition: 2s;
}

.banner-ads__content{
    position: absolute;
    color: #333;
    top: 110px;
    left: 40px;
    width: 133px;

    &:hover{
        color: #0056b3;
    }
}

.banner-ads__content-title{
    font-size: 15px;
}

.banner-ads__content-name{
    font-size: 25px;
    font-weight: 600;
    margin-top: 4px;
}
